body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;       
  background: linear-gradient(135deg, #588cb7, #e3f2fd);
  font-family: "Segoe UI", sans-serif;
}



.quiz-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease;
}

h1 {
  text-align: center;
  color: #0d47a1;
}

.progress-bar {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin: 20px 0;
}

.progress {
  height: 100%;
  background: #4caf50;
  border-radius: 5px;
  transition: width 0.4s ease;
}

.question-box {
  animation: slideUp 0.4s ease;
}

.question-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.option {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}

.option:hover {
  background-color: #f5f5f5;
}

.option input {
  margin-right: 10px;
}

.option.correct {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.option.wrong {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.next-btn,
.result button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

.next-btn:hover,
.result button:hover {
  background-color: #0d47a1;
  transform: scale(1.03);
}

.next-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.result {
  text-align: center;
  animation: popUp 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
